﻿
@using Assignment3Client.Models

@{
    ViewBag.Title = "Index";
}

@{
    var data = ViewBag.Message;
}

<h3>Medicaiton Plan:</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Description </th>
        <th>Days</th>
    </tr>
    <tr>
        <td>@data.MedicationPlanID</td>
        <td>@data.Description</td>
        <td>@data.Days</td>
    </tr>
</table>

<body onload=display_ct();>
    <span id='ct' style="font-size:40px;font-weight:bold;"></span>

</body>

<h3>His Medications:</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Name </th>
        <th>Side Effects</th>
        <th>Dosage</th>
        <th>Taken</th>
    </tr>
    @foreach (var item in data.Medications)
    {
        <tr>
            <td>@item.MedicationID</td>
            <td>@item.Name</td>
            <td>@item.SideEffects</td>
            <td>@item.Dosage</td>
            <td id="output" style="background:red"></td>
            <td><button id="changeGreen" type="button" onclick="alert('Are you sure that you consumed the Medicine?')">Taken</button>
        </tr>
    }
</table>


<script type="text/javascript">
    function display_c() {
        var refresh = 1000; // Refresh rate in milli seconds
        mytime = setTimeout('display_ct()', refresh)
    }

    function display_ct() {
        var x = new Date();
        x.setSeconds = 0;

        var x1 = x.getHours() + ":" + x.getMinutes() + ":" + x.getSeconds();
        document.getElementById('ct').innerHTML = x1;
        display_c();
    }
    
    document.getElementById("changeGreen").onclick = function () {
        document.getElementById("output").style.background = 'green';
    }

</script>